.background{
    -fx-background-color: rgb(117, 255, 225) ;
    /* -fx-font-size: 10pt ; */
}

.moviebackground{
    -fx-background-color: rgb(255, 246, 118) ;
    /* -fx-font-size: 10pt ; */
}


.backBtn{
    -fx-background-color: rgb(255, 0, 0) ;
}