.background{
    -fx-background-color: rgb(117, 255, 225) ;
    /* -fx-font-size: 10pt ; */
}

.moviebackground{
    -fx-background-color: rgb(255, 246, 118) ;
    /* -fx-font-size: 10pt ; */
}


.showTimeBtn{
    -fx-background-color: rgb(255, 115, 0) ;
}

.moreInfoBtn{
    -fx-background-color: rgb(72, 255, 0) ;
}

.logoutBtn{
    -fx-background-color: rgb(255, 0, 0) ;
}