.background{
    -fx-background-color: rgb(201, 201, 201) ;
    /* -fx-font-size: 10pt ; */
}

.submitBtn{
    -fx-background-color: rgb(20, 255, 20) ;
    /* -fx-font-size: 10pt ; */
}

.registerBtn{
    -fx-background-color: rgb(110, 168, 255) ;
}

.backBtn{
    -fx-background-color: rgb(255, 0, 0) ;
}
