.background{
    -fx-background-color: rgb(201, 201, 201) ;
    /* -fx-font-size: 10pt ; */
}

.acceptBtn{
    -fx-background-color: rgb(20, 255, 20) ;
    /* -fx-font-size: 10pt ; */
}

.backBtn{
    -fx-background-color: rgb(255, 0, 0) ;
}