.background{
    -fx-background-color: rgb(255, 103, 103) ;
    /* -fx-font-size: 10pt ; */
}

.infobackground{
    -fx-background-color: rgb(255, 231, 20) ;
    /* -fx-font-size: 10pt ; */
}

.backBtn{
    -fx-background-color: rgb(20, 255, 20) ;
}